<!--<%- include('partials/header') -%>-->
<!--  <div class="feed-container">-->
<!--    &lt;!&ndash; Link that bring user back to profile page &ndash;&gt;-->
<!--    <div class="button-container">-->
<!--      <a href="/profile" class="btn btn-primary">Back to Profile</a>-->
<!--    </div>-->
<!--    <div class="container p-5">-->
<!--      <ul class="list-unstyled">-->
<!--        <% for(var i=0; i<posts.length; i++) {%>-->
<!--          <li class="col text-center mb-3">-->
<!--            <a href="/post/<%= posts[i]._id%>">-->
<!--              <img class="img-fluid img-thumbnail" style="width: 400px" src="<%= posts[i].image%>">-->
<!--            </a>-->
<!--            <div class="row justify-content-between mt-2">-->
<!--              <div class="text-center">-->
<!--                <a href="/post/<%= posts[i]._id%>" class="text-decoration-none">-->
<!--                  <h3><%= posts[i].title%></h3>-->
<!--                  &lt;!&ndash; Show username of the user who posted the post &ndash;&gt;-->
<!--                    <p>By <%= posts[i].userName%></p>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </li>-->
<!--        <% } %>-->
<!--        </ul>-->
<!--    </div>-->
<!--  </div>  -->
<!--<%- include('partials/footer') -%>-->