<%- include('partials/header') -%>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-4 col-md-4 col-sm-8 profile-header">
                <div class="d-flex align-items-center">
                    <div class="profilePictureImage me-3">
                        <% profilePic.forEach(function(profilePic) { %>
                            <img src="<%= profilePic.image %>" class="img-fluid rounded-square" alt="profile pic">
                            <% }) %>
                    </div>
                    <div>
                        <h1 class="userName mb-0">Hi <%= user.userName %>
                        </h1>
                        <p class="mb-0">
                            <p class="mb-0">
                                <%= type==='saved' ? savedPosts.filter(sp=> sp.post).length : posts.length %>
                                    <%= type.charAt(0).toUpperCase() + type.slice(1) %>
                            </p>
                        </p>
                    </div>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div class="me-3">
                        <a href="/edit-profile" data-bs-toggle="tooltip" title="Edit Profile">
                            <i class="fa-solid fa-gear fa-xl"></i>
                        </a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#gratitudeModal">Add Content</button>
                    </div>
                </div>
                <div class="modal fade" id="gratitudeModal" tabindex="-1" aria-labelledby="gratitudeModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gratitudeModalLabel">Add Content</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/post/createPost" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title">
                                </div>
                                <div class="mb-3">
                                    <label for="caption" class="form-label">What are you grateful for today?</label>
                                    <textarea class="form-control" id="caption" name="caption"></textarea>
                                </div>
                                <div class="mb-3">
                                    <div class="input-group">
                                        <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('imageUpload').click()">
                                            Add Image
                                        </button>
                                        <button type="button" class="btn btn-outline-danger d-none" id="removeImage" onclick="removeImage()">
                                            Remove Image
                                        </button>
                                        <input type="file" class="form-control d-none" id="imageUpload" name="file" onchange="handleFileSelect(event)">
                                        <span class="input-group-text d-none" id="selectedFile"></span>
                                    </div>
                                </div>
                                <div class="img-preview d-none">
                                    <img id="preview" src="#" alt="Selected Image" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Create a way for user to choose date on date picker widget -->
        <!-- Let user click on date picker widget to show post/posts from that date-->

        <!--Calendar widget, when clicking search button, getPostsByDate checks to see if any posts match date selected -->
        <!-- <div class="date-widget">
            <form action="" method="POST">
                <div class="mb-3">
                    <label for="date" class="form-label">Search Posts By Date</label>
                    <input type="date" class="mb-2 form-control" id="date" name="date">
                    <button type="submit" class="btn btn-primary" value="Upload">Search</button>
                </div>
            </form>
        </div> -->
      

        
        <ul class="mt-5 row list-unstyled">
            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link <%= type === 'posts' ? 'active' : '' %>" aria-current="page" href="?type=posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= type === 'saved' ? 'active' : '' %>" href="?type=saved">Saved</a>
                </li>
            </ul>
            <% if (type==='saved' ) { %>
                <% savedPosts.reverse().forEach(function(savedPost) { %>
                    <% if (savedPost.post) { %>
                        <li class="col-12">
                            <div class="card mb-3">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h5 class="card-title">
                                        <%= savedPost.post.title %>
                                    </h5>
                                    <p class="card-text text-muted">
                                        <%= savedPost.post.createdAt.toLocaleDateString() %>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        <%= savedPost.post.caption %>
                                    </p>
                                    <img src="<%= savedPost.post.image %>" class="card-img-top" alt="...">
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <form action="/post/unsavePost/<%= savedPost.post._id %>?_method=DELETE" method="POST" class="me-2">
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    <% } %>
                <% }) %>
            <% } else { %>
                <% posts.reverse().forEach(function(post) { %>
                    <li class="col-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="card-title">
                                    <%= post.title %>
                                </h5>
                                <p class="card-text text-muted">
                                    <%= post.createdAt.toLocaleDateString() %>
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <%= post.caption %>
                                </p>
                                <img src="<%= post.image %>" class="card-img-top" alt="...">
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <button type="button" class="me-2 btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPostModal" onclick="if (document.querySelector('#editPostModal').style.display === 'none') {
                                      prepareEdit('<%= post._id %>', '<%= post.title %>', '<%= post.caption %>', '<%= post.image %>');
                                  }">
                                    <i class="fas fa-edit"></i>
                                </button>
                                <form action="/post/savePost/<%= post._id %>" method="POST" class="me-2">
                                    <button type="submit" class="btn btn-secondary"><i class="fas fa-thumbtack"></i></button>
                                </form>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal"
                                    onclick="prepareDelete('<%= post._id %>')">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
                            <!-- Modal for editing the post -->
                            <div class="modal fade" id="editPostModal" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPostModalLabel">Edit Post</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/post/<%= post._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                                                <div class="mb-3">
                                                    <label for="title" class="form-label">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="caption" class="form-label">Caption</label>
                                                    <textarea class="form-control" id="caption" name="caption" rows="3"><%= post.caption %></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imageUpload" class="form-label">Image</label>
                                                    <input class="form-control" type="file" id="imageUpload" name="imageUpload">
                                                </div>
                                                <div class="img-preview d-none">
                                                    <img id="preview" src="#" alt="Selected Image" />
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="confirmEdit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deletePostModalLabel">Delete Post</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this post?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger" id="confirmDelete">Yes, delete post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                <% }) %>
            <% } %>
        </ul>
    </div>
</div>
<%- include('partials/footer') -%>